#jogo{
    width:800px;
    height:600px;
    border:solid 3px
}

.linha{
    height:200px;
    border-bottom:solid 1px;
}

.carta{
    width:199px;
    height:199px;
    border-right:solid 1px;
    float:left;

}

.mascara {
    width:199px;
    height:199px;
    border-right:solid 1px;
    background-image: url('verso.png');
    background-size: 100%;
    /*background-image: url("verso.png");
    background-size: cover*/
    /*float:left;*/
}
